<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <h1>97 Bowling AlleyLane, Boulder CO </h1>
    <h2>97 Bowling AlleyLane, Boulder CO </h2>
    <p>97 Bowling AlleyLane, Boulder CO </p>
  </body>
</html>