<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Bowling</h1>
    <h2>Alley</h2>
    <p>97 Bowling AlleyLane, Boulder CO </p>
  </body>
</html>