<!DOCTYPE html>
<html>
  <head>
    <title>sabdhakh</title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>hsflhs</h2>
    <p>97 Bowling AlleyLane, Boulder CO </p>
  </body>
</html>